openapi: 3.0.3
info:
  title: MalwareBazaar API
  description: |
    API for querying malware samples, downloading samples, adding comments, and listing recent detections from MalwareBazaar (abuse.ch).

    Authentication:
    All requests must include the `Auth-Key` header with a valid API key obtained from the MalwareBazaar portal.

    Connection Parameters:
    - api_key: API key generated from MalwareBazaar portal (used in Auth-Key header)
    - timeout: Optional HTTP timeout in seconds (default: 30)
  version: 1.0.0
  contact:
    name: abuse.ch
    url: https://bazaar.abuse.ch/api/

servers:
  - url: https://mb-api.abuse.ch/api/v1
    description: MalwareBazaar Production API

security:
  - AuthKey: []

paths:
  /:
    post:
      operationId: querySample
      summary: Query Malware Sample
      description: |
        Retrieve threat intelligence and malware details for a file hash.
        Supports MD5 (32 hex), SHA-1 (40 hex), and SHA-256 (64 hex) hashes.
        Hash input is case-insensitive.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/QuerySampleRequest'
      responses:
        '200':
          description: Successful response with sample data or hash_not_found status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySampleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /download:
    post:
      operationId: downloadSample
      summary: Download Malware Sample
      description: |
        Download a password-protected ZIP malware sample by SHA-256 hash.
        The ZIP password is "infected".
        Returns binary ZIP content on success, or JSON error on failure.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DownloadSampleRequest'
      responses:
        '200':
          description: Password-protected ZIP file containing the malware sample.
          content:
            application/zip:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /comment:
    post:
      operationId: addComment
      summary: Add Comment to Sample
      description: Add an analyst comment to a malware sample identified by SHA-256 hash.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddCommentRequest'
      responses:
        '200':
          description: Comment added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /recent:
    post:
      operationId: listSamples
      summary: List Latest Malware Samples
      description: |
        Retrieve latest malware samples or recent detections.
        Supported selector values:
        - time: Recent samples by time
        - 100: Last 100 samples
        - Additional future selectors supported by MalwareBazaar API
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ListSamplesRequest'
      responses:
        '200':
          description: Successful response with list of recent samples.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSamplesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  securitySchemes:
    AuthKey:
      type: apiKey
      in: header
      name: Auth-Key
      description: API key obtained from MalwareBazaar portal.

  schemas:
    QuerySampleRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          enum:
            - get_info
          description: Query type.
        md5_hash:
          type: string
          pattern: '^[a-fA-F0-9]{32}$'
          description: MD5 hash (32 hex characters). Use one of md5_hash, sha1_hash, or sha256_hash.
        sha1_hash:
          type: string
          pattern: '^[a-fA-F0-9]{40}$'
          description: SHA-1 hash (40 hex characters). Use one of md5_hash, sha1_hash, or sha256_hash.
        sha256_hash:
          type: string
          pattern: '^[a-fA-F0-9]{64}$'
          description: SHA-256 hash (64 hex characters). Use one of md5_hash, sha1_hash, or sha256_hash.

    DownloadSampleRequest:
      type: object
      required:
        - query
        - sha256_hash
      properties:
        query:
          type: string
          enum:
            - get_file
          description: Query type.
        sha256_hash:
          type: string
          pattern: '^[a-fA-F0-9]{64}$'
          description: SHA-256 hash of the sample to download.

    AddCommentRequest:
      type: object
      required:
        - query
        - sha256_hash
        - comment
      properties:
        query:
          type: string
          enum:
            - add_comment
          description: Query type.
        sha256_hash:
          type: string
          pattern: '^[a-fA-F0-9]{64}$'
          description: SHA-256 hash of the sample.
        comment:
          type: string
          maxLength: 1000
          description: Comment text (max 1000 characters).

    ListSamplesRequest:
      type: object
      required:
        - query
        - selector
      properties:
        query:
          type: string
          enum:
            - get_recent
          description: Query type.
        selector:
          type: string
          description: |
            Selector value for recent samples query.
            Supported values: time, 100, or additional future selectors.
          example: "time"

    QuerySampleResponse:
      type: object
      properties:
        query_status:
          type: string
          description: Status of the query (ok, hash_not_found, no_results).
          example: "ok"
        data:
          type: array
          items:
            $ref: '#/components/schemas/SampleInfo'

    SampleInfo:
      type: object
      properties:
        sha256_hash:
          type: string
          description: SHA-256 hash of the sample.
          example: "a1b2c3d4e5f6..."
        sha1_hash:
          type: string
          description: SHA-1 hash of the sample.
        md5_hash:
          type: string
          description: MD5 hash of the sample.
        file_name:
          type: string
          description: Original file name.
          example: "malware.exe"
        file_type:
          type: string
          description: File type (e.g., exe, dll, doc).
          example: "exe"
        file_size:
          type: integer
          description: File size in bytes.
        signature:
          type: string
          description: Malware family/signature name.
          example: "Emotet"
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the sample.
          example: ["emotet", "trojan", "banker"]
        first_seen:
          type: string
          description: First seen timestamp.
          example: "2024-01-15 10:30:00"
        last_seen:
          type: string
          description: Last seen timestamp.
        delivery_method:
          type: string
          description: How the malware was delivered.
          example: "email_attachment"
        vendor_intel:
          type: object
          description: Vendor intelligence data (AV detections, sandbox results).
          additionalProperties: true
        reporter:
          type: string
          description: Reporter who submitted the sample.
        comment:
          type: string
          description: Comment associated with the sample.
        origin_country:
          type: string
          description: Country of origin.
        imphash:
          type: string
          description: Import hash of the PE file.
        tlsh:
          type: string
          description: TLSH fuzzy hash.
        ssdeep:
          type: string
          description: ssdeep fuzzy hash.

    CommentResponse:
      type: object
      properties:
        query_status:
          type: string
          description: Status of the comment operation.
          example: "ok"

    ListSamplesResponse:
      type: object
      properties:
        query_status:
          type: string
          description: Status of the query.
          example: "ok"
        data:
          type: array
          items:
            $ref: '#/components/schemas/SampleInfo'

    ErrorResponse:
      type: object
      properties:
        query_status:
          type: string
          description: Error status message.
          example: "file_not_found"

  responses:
    Unauthorized:
      description: Authentication failed. Invalid or missing Auth-Key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Access denied. Insufficient permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimited:
      description: Rate limit exceeded. Retry after backoff period.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ServerError:
      description: MalwareBazaar server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
